:root {
  --navy: #001F3F;
  --coral: #FF4136;
  --gold: #FFDC00;
  --cyan: #7FDBFF;
  --green: #2ECC40;
  --purple: #B10DC9;
  --maroon: #85144B;
  --orange: #FF851B;
  --red: #DB2828;
  --lime: #01FF70;
  --teal: #39CCCC;
  --fuchsia: #F012BE;
  --black: #111111;
  --white: #FFFFFF;
  --light-peach: #FFF5E1;
  --extra-light-gray: #F7F7F7;
  --light-gray: #EEEEEE;
  --medium-gray: #AAAAAA;
  --dark-gray: #777777;
  --darker-gray: #555555;
  --gradient: linear-gradient(to right, #FFDC00, #FF4136);
}

/* Example usage */
body {
  background-color: var(--white);
  color: var(--black);
}

.gradient-bg {
  background: var(--gradient);
}